html {
  background-color: #fbfbfb; }

@media (max-width: 550px) {
  body {
    width: 100%;
    border: solid 1px green;
    margin: 0; } }
@media (min-width: 550px) {
  body {
    width: 1000px;
    margin: 0 auto; }
    body p {
      font-size: 15px;
      -webkit-margin-before: 8px;
      -webkit-margin-after: 8px;
      -webkit-margin-start: 0px; } }
header {
  width: 100%;
  background-color: #fbfbfb;
  position: fixed;
  top: -1px;
  border-bottom: solid 5px #C73E3A;
  z-index: 999; }
  @media (max-width: 550px) {
    header {
      height: 71px; }
      header #title {
        width: 90%;
        height: 50px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto; }
        header #title .titles {
          height: 50px;
          position: relative; }
          header #title .titles img {
            float: left; }
        header #title .title_icon {
          width: 50px;
          margin-right: 10px;
          margin-left: 5%; }
        header #title .title {
          width: 60%;
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto; } }
  @media (min-width: 550px) {
    header {
      height: 101px;
      width: 1000px; }
      header #title {
        width: 360px;
        height: 50px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto; }
        header #title .titles img {
          float: left; }
        header #title .title_icon {
          width: 50px;
          margin-right: 10px; }
        header #title .title {
          width: auto;
          height: 50px; } }

#nav-toggle {
  display: none;
  position: absolute;
  right: -5%;
  width: 30px;
  height: 25px;
  cursor: pointer; }

#nav-toggle div {
  position: relative; }

#nav-toggle span {
  display: block;
  position: absolute;
  width: 100%;
  border-bottom: solid 3px #A26769;
  -webkit-transition: .35s ease-in-out;
  -moz-transition: .35s ease-in-out;
  transition: .35s ease-in-out; }

#nav-toggle span:nth-child(1) {
  top: 0; }

#nav-toggle span:nth-child(2) {
  top: 11px; }

#nav-toggle span:nth-child(3) {
  top: 22px; }

.nav {
  display: inline-block;
  padding-left: 30px;
  font-size: 140%;
  vertical-align: bottom; }

header ul li::afyter {
  content: '|'; }

header ul li:last-child::after {
  content: ''; }

header ul li a {
  color: inherit; }

@media (max-width: 550px) {
  header nav {
    position: absolute;
    right: 0;
    top: -275px;
    width: 50%;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    text-align: left; }

  header ul {
    margin: 0; }

  header ul li {
    display: block;
    margin: 0;
    width: 100%;
    border-bottom: dotted 1px #fff;
    line-height: 2.5;
    float: none; }

  header ul li a {
    display: block; }

  header ul li::after {
    content: ''; }

  header ul li:last-child {
    border-bottom: none; }

  #nav-toggle {
    display: block;
    top: 13px; }

  #global-nav {
    width: 90%;
    z-index: 101; }

  #navs {
    text-align: center;
    padding-right: 40px; }
    #navs li img {
      height: 30px; }

  .openNav #nav-toggle span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg); }

  .openNav #nav-toggle span:nth-child(2),
  .openNav #nav-toggle span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg); }

  .openNav nav {
    -moz-transform: translateY(400px);
    -webkit-transform: translateY(400px);
    transform: translateY(400px); } }
@media (min-width: 550px) {
  #navs {
    padding-left: 500px;
    width: 500px;
    right: 0; }
    #navs li img {
      height: 23px; } }
#main #mydata img {
  margin: 0 auto; }
@media (max-width: 550px) {
  #main {
    padding-top: 70px;
    margin: 0 5%; }
    #main .top_img_sp {
      width: 100%;
      height: auto; }
    #main .top_img_pc {
      display: none; }
    #main .comment {
      width: auto;
      height: auto;
      margin-top: 30px;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 40px; }
      #main .comment p {
        font-size: 15px;
        line-height: 1.3; }
      #main .comment .comment_bottom {
        -webkit-margin-after: 15px; }
    #main .second_title {
      width: auto;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      text-align: center; }
    #main .second_title_middle {
      width: auto;
      height: 25px;
      padding-bottom: 30px;
      text-align: center; }
    #main .second_title_pc {
      height: 32px; }
    #main #merit {
      padding-top: 90px;
      margin-top: -90px; }
    #main .merit_boxs {
      height: auto;
      margin-bottom: 40px; }
    #main .merit_box {
      width: 90%;
      height: 220px;
      margin-left: auto;
      margin-right: auto;
      border: solid 1px #9f9f9f;
      border-radius: 20px; }
    #main .hitotume {
      margin-bottom: 10px; }
    #main .merit_sp {
      height: 60px;
      padding-bottom: 30px; }
    #main .merit_pc {
      display: none; }
    #main #motimono {
      padding-top: 90px;
      margin-top: -90px; }
    #main #tokucho {
      padding-top: 90px;
      margin-top: -90px; }
    #main .tokucho {
      margin-bottom: 30px; }
    #main .tokucho_boxs {
      height: auto;
      margin-bottom: 40px; }
    #main .tokucho_box {
      width: 90%;
      height: 220px;
      margin-left: auto;
      margin-right: auto;
      border: solid 1px #9f9f9f;
      border-radius: 20px; }
    #main .hitotume {
      margin-bottom: 10px; }
    #main #saihoni {
      padding-top: 90px;
      margin-top: -90px; }
    #main #mydata {
      padding: 20px;
      margin-left: auto;
      margin-right: auto;
      width: auto;
      text-align: center; }
      #main #mydata img {
        width: 35%;
        height: auto;
        margin-bottom: 15px; }
      #main #mydata p {
        font-size: 14px; } }
@media (min-width: 550px) {
  #main {
    padding-top: 100px;
    height: auto; }
    #main .top_img_sp {
      display: none; }
    #main .comment {
      width: 750px;
      height: auto;
      margin-top: 60px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 80px; }
      #main .comment .comment_bottom {
        -webkit-margin-after: 18px; }
    #main .second_title {
      width: 500px;
      height: 32px;
      margin-left: 90px; }
    #main .second_title_middle {
      width: 500px;
      height: 32px;
      padding-bottom: 60px;
      margin-left: 90px;
      clear: both; }
    #main .merit_sp {
      display: none; }
    #main .second_title_pc {
      height: 32px;
      margin-top: 90px; }
    #main #merit {
      padding-top: 120px;
      margin-top: -120px; }
    #main .merit_pc {
      height: 32px; }
    #main .merit_boxs {
      width: 800px;
      height: 250px;
      margin-top: 60px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 90px; }
    #main .merit_box {
      width: 380px;
      height: 250px;
      border: solid 1px #9f9f9f;
      border-radius: 20px; }
    #main .hitotume {
      float: left; }
    #main .hutatume {
      float: right; }
    #main #motimono {
      padding-top: 30px;
      margin-top: -30px; }
    #main #tokucho {
      padding-top: 30px;
      margin-top: -30px; }
    #main .tokucho {
      margin-top: 60px;
      margin-bottom: 40px;
      width: 750px;
      height: auto;
      margin-left: auto;
      margin-right: auto; }
    #main .tokucho_boxs {
      width: 740px;
      height: 220px;
      margin-left: auto;
      margin-right: auto; }
    #main .tokucho_box {
      width: 365px;
      height: 220px;
      border: solid 1px #9f9f9f;
      border-radius: 20px; }
    #main .hitotume {
      float: left; }
    #main .hutatume {
      float: right; }
    #main #saihoni {
      padding-top: 150px;
      margin-top: -150px; }
    #main .comment2 {
      padding-top: 60px; }
    #main #mydata {
      padding: 40px;
      margin-left: auto;
      margin-right: auto;
      width: 200px;
      height: auto;
      text-align: center; }
      #main #mydata img {
        width: 100px;
        height: 100px;
        margin-bottom: 20px; }
      #main #mydata p {
        font-size: 12px; } }

/*# sourceMappingURL=style.css.map */
