//スマホ
@media (max-width: 550px) {
    body{
        width: 100%;
        border: solid 1px green;
        margin: 0;
    }
}
//デスクトップ
@media (min-width: 550px) {
    body{
        width: 1000px;
        border: solid 1px green;
        margin: 0 auto;
    }
}

header{
    width: 100%;
    background-color: #E87A90;
    position: relative;
    //headerピンクかな
    //スマホ
    @media (max-width: 550px) {
    }
    //デスクトップ
    @media (min-width: 550px) {
        height: 100px;
        #title{
            width: 400px;
            height: 80px;
            position: absolute;
        	top: 0;
        	bottom: 0;
        	margin: auto;
            background-color: #D0104C;
            //title赤みたいな
            .title_icon{
                width: 80px;
                height: 80px;
                background-color: #9E7A7A;
                //タイトルアイコンはピンクっぽいグレー
            }
        }
    }
}